# APP ENVs
APP_PORT=
NODE_ENV=
JWT_KEY=
WINDOW_SIZE_IN_SECONDS=
MAX_REQUESTS=

# REDIS ENVs
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

# MONGODB ENVs
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=
MONGODB_HOST=
MONGODB_PORT=