# APP ENVs
APP_PORT=
NODE_ENV=
JWT_KEY=
# default 60 and 5
WINDOW_SIZE_IN_SECONDS=
MAX_REQUESTS=

# REDIS ENVs
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

# MONGODB ENVs
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=
MONGODB_HOST=
MONGODB_PORT=

# Push3r settings
PUSHER_APPID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

# Frontend ENVs
VITE_API_URL=http://localhost:5000/api/v1/