# APP ENVs
APP_PORT=
NODE_ENV=
JWT_KEY=
# default 60 and 5
WINDOW_SIZE_IN_SECONDS=
MAX_REQUESTS=

# REDIS ENVs
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

# MONGODB ENVs
MONGODB_ROOT_USER=
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=
MONGODB_HOST=
MONGODB_PORT=

# Push3r settings
PUSHER_APPID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

NODE_EXPORTER_PORT=9100
NODE_EXPORTER_HOST=node_exporter

# ENV for FrontEnd
VITE_API_URL=https://phototopographic-ungerminant-skye.ngrok-free.app/api/v1
VITE_PUSHER_APPID=
VITE_PUSHER_KEY=
VITE_PUSHER_SECRET=
VITE_PUSHER_CLUSTER=